<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <script src="/script.js" defer></script>
    <title>Mart</title>
</head>
<body>
    <div class="invoice">
        <table>
            <tr>
                <th>S. No.</th>
                <th>Item</th>
                <th>Price</th>
            </tr>
            <% let total = 0 %>
            <% invoice[0].items.forEach(element => { %>
                <tr>
                    <td><%= element.name %></td>
                    <td><%= element.quantity %></td>
                    <td><%= element.price %></td>
                </tr>
                <% total+=element.price * element.quantity %>
            <% }) %>
            <tr>
                <td colspan="2">Total Amount</td>
                <td><%= total %></td>
            </tr>
        </table>
        <input type="button" value="Download" id="download">
    </div>
</body>
</html>